/* contents wrap style */
.wrap{width: 100%; min-height: 100vh; background: #edf7f0; display: flex; align-items: center; justify-content: space-between; flex-direction: column;}

/* Header style */
header{width: 100%; height: auto; background: #12595b; color: #fff;}
header .headerWrap{display: flex; align-items: center; justify-content: space-between; position: relative;}
header .headerWrap .mIcon{width: 50px; height: auto; display: flex; flex-wrap: wrap; justify-content: flex-end; cursor: pointer; padding: 10px;}
header .headerWrap .mIcon span{width: 100%; height: 2px; background: #fff; display: block; transition: all 0.4s;}
header .headerWrap .mIcon span:nth-child(2){margin: 5px 0; width: 50%;}
header .headerWrap .mIcon span:nth-child(3){width: 70%;}

header .headerWrap .mIcon.on{background: rgba(82, 159, 170, 0.3);}
header .headerWrap .mIcon.on span{width: 100%;}
header h1{font-weight: 600; font-size: 22px; padding: 10px 0;}
header .headerWrap a{color: #fff; font-size: 25px;}

/* Hidden Header style */
.hiddenHeader{position: absolute; right: 0; top: 100%; z-index: 999;}
.hiddenHeader .depth-1{display: none;}
.hiddenHeader .depth-1 li{margin-top: 1px;}
.hiddenHeader .depth-1 li a{display: block;  background: #12595b; color: #fff; padding: 15px; border: 1px solid #12595b;}
.hiddenHeader .depth-1 li a:hover{background: rgba(82, 159, 170, 0.3);}

/* Container Style */
.container{width: 100%; height: auto; display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(5, minmax(100px, auto)); gap: 15px; padding: 30px 0;} 
.container .item{background: #fff; border: 1px solid #529faa;}
.container .item:nth-child(1){grid-row-start: 1; grid-row-end: 5; display: flex; align-items: center; justify-content: center; padding: 30px 0;}
.container .item:nth-child(6){grid-column-start: 1; grid-column-end: 3;}

/* circle graph style */
.graph-circle {position: relative; width: 100%; height: 100%; display: flex; flex-direction: column;}
.circle-graph-container {position: relative; display: flex; width: 100%; height: 100%;}
.circle-graph {margin: 0 15px; position: relative; width: 100%; line-height: 1.2 !important; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;display: flex; flex-direction: column; justify-content: center; align-items: center; font-weight: 300;}
canvas {position: absolute;}

.circle-graph p{font-size: 45px; font-weight: 800; color: #12595b;}
.totalTit{width: 100%; height: auto; text-align: center; font-size: 26px; color: #12595b; font-weight: bold;}

/* sub portfolio progress section style */
.subPfBar{padding: 10px; display: flex; align-items: center;}
.subPfBar .pfImg{width: 15%; font-size: 25px; display: flex; align-items: center; justify-content: center; margin-right: 5px;}
.subPfBar .pfImg i{color: #12595b;}
.subPfBar .pfContents{width: 85%;}
.subPfBar .pfContents h3{font-size: 18px; color: #12595b;}
.subPfBar .pfContents p{color: #529faa; margin: 0 0 5px; font-size: 12px;}
.subPfBar .pfContents p b{font-weight: normal; font-size: 12px;}
.subPfBar .pfContents .rateNum{font-weight: 600; font-size: 14px; width: 30px; text-align: right; border: 0; color: #12595b;}
.subPfBar .pfContents .rateNum:focus{border: 1px solid #529faa;}
.subPfBar .pfBarBox{padding: 3px 0; border: 1px solid #529faa; border-radius: 10px; background: #edf7f0;}
.subPfBar .pfBarBox .pfBar{display: block; width: 0; height: 15px; background: #12595b; border-radius: 0 10px 10px 0; border: 1px solid #12595b; border-radius: 15px; margin: 3px 0;}

/* button box style */
.btns{display: flex; align-items: center; justify-content: flex-end; padding: 10px;}
.btns.view{padding: 10px 0;}
.btns button, a.schInput{border: 1px solid #12595b; background: #12595b; color: #fff; font-family: 'Noto Sans KR'; padding: 10px 30px;} 
.btns button:nth-child(2){margin: 0 5px;}

/* footer style */
footer{width: 100%; height: auto; background: #12595b; padding: 15px 0; text-align: center; bottom: 0;}
footer p{color: #fff; font-weight: 400;}

/* inputform page style */
.inputContainer{width: 100%; height: auto; display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(5, minmax(100px, auto)); gap: 15px; padding: 30px 0;}
.inputContainer.view{padding: 30px 0 0;}
.inputContainer .item{background: #fff; border: 1px solid #529faa;}

.inputContainer .item:nth-child(1){grid-row-start: 1; grid-row-end: 5; display: flex; align-items: center; justify-content: center; padding: 30px 0;}
.inputContainer .item:nth-child(6),
.inputContainer .item:nth-child(7){grid-column-start: 1; grid-column-end: 3;}

.inputContainer .subPfBar .pfContents .rateNum:focus{border: 0;}

/* inputform style */
.item.inputBox{padding: 25px;} 
.item.inputBox .projectCate{width: 30%; height: 40px; border: 1px solid #529faa; border-radius: 0; outline: 0; color: #12595b; display: block; float: left; color: #12595b; font-family: 'Open Sans';}
.item.inputBox .projectTit{display: block; float: right; width: calc(70% - 5px); height: 40px; border: 1px solid #529faa; padding: 5px; color: #12595b;font-family: 'Noto Sans KR';}
.item.inputBox .projectCon{width: 100%; height: 150px; border: 1px solid #529faa; resize: none; padding: 5px; margin-top: 5px; color: #12595b; font-family: 'Noto Sans KR';}

.item.inputBox .projectCate:focus,
.item.inputBox .projectTit:focus,
.item.inputBox .projectCon:focus{border: 1px solid #12595b;}

/* schedule board page style */
.item.boardBox{padding: 25px;} 
.item.boardBox .boardTable{width: 100%; height: auto;}
.item.boardBox .boardTable li:last-child{border-bottom: 1px solid #529faa;}
.item.boardBox .boardTable li:nth-child(odd){background: #edf7f0;}
.item.boardBox .boardTable .boardTitle,
.item.boardBox .boardTable .boardList{width: 100%; height: auto; display: flex; align-items: center; justify-content: center;}
.item.boardBox .boardTable .boardTitle{background: #12595b!important;}
.item.boardBox .boardTable .boardTitle span{color: #fff;}

.item.boardBox .boardTable span{text-align: center; font-family: 'Noto Sans KR'; padding: 8px 0;}
.item.boardBox .boardTable span.boNum{width: 10%;}
.item.boardBox .boardTable span.boCate{width: 20%;}
.item.boardBox .boardTable span.boTit{width: 50%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.item.boardBox .boardTable span.boReg{width: 20%;}

.cateTabs{width: 100%; height: auto; text-align: center;}
.cateTabs a{display: inline-block; color: #12595b; padding: 8px 15px; margin-bottom: 15px; font-family: 'Noto Sans KR'; font-size: 16px;}
.cateTabs a.active{color: #529faa;}

.loadMore, .subBtn{width: 100%; height: auto; margin-top: 10px; text-align: center;}
.loadMore button, .subBtn button{outline: 0; padding: 10px 30px; color: #12595b; font-family: 'Noto Sans KR'; background: none; font-size: 30px; border: 0;}
.subBtn{display: none;}

/* detail view page style */
.item.viewBox{padding: 25px;} 
.item.viewBox .viewTable{width: 100%; height: auto;}

.item.viewBox .viewTable .viewTitle,
.item.viewBox .viewTable .viewList{width: 100%; height: auto; display: flex; align-items: center; justify-content: center;}
.item.viewBox .viewTable .viewTitle{background: #12595b!important;}
.item.viewBox .viewTable .viewTitle span{color: #fff;}

.item.viewBox .viewTable li:last-child{border-bottom: 1px solid #529faa;}

.item.viewBox .viewTable span{text-align: center; font-family: 'Noto Sans KR'; padding: 8px 0;}
.item.viewBox .viewTable span.boNum{width: 10%;}
.item.viewBox .viewTable span.boCate{width: 20%;}
.item.viewBox .viewTable span.boCon{width: 50%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.item.viewBox .viewTable .viewList span.boCon{text-align: left;}
.item.viewBox .viewTable span.boCon em{font-style: normal; color: #529faa;}
.item.viewBox .viewTable span.boReg{width: 20%;}

.item.viewBox .detailTit{width: 100%; height: auto; padding-left: 15px; border-left: 3px solid #12595b; margin-bottom: 10px;}
.item.viewBox .detailTit h2{font-size: 16px; font-weight: 600; color: #12595b; font-family: 'Noto Sans KR';}

.item.btns a{margin-left: 10px;  padding: 10px 30px; background: #fff; border: 1px solid #12595b;}
.item.btns a.schInput{background: #12595b;}
.item.btns a i{font-size: 16px; color: #12595b;}

/* hidden input style */
.hiddenTit{outline: 0; border: 1px solid #12595b; padding: 5px; width: 50%; font-family: 'Noto Sans KR'; color: #529faa; display: none;}
.hiddenCon{width: 100%; height: 100px; padding: 5px; font-family: 'Noto Sans KR'; border: 1px solid #12595b; outline: 0; resize: none; color: #529faa; overflow-y: hidden; display: none;}