/* contents wrap style */
.wrap{width: 100%; height: 100%; background: #edf7f0;}

/* Header style */
header{width: 100%; height: auto; background: #12595b; color: #fff;}
header .headerWrap{display: flex; align-items: center; justify-content: space-between;}
header .headerWrap .mIcon{width: 30px; height: auto; display: flex; flex-wrap: wrap; justify-content: flex-end;}
header .headerWrap .mIcon span{width: 100%; height: 2px; background: #fff; display: block;}
header .headerWrap .mIcon span:nth-child(2){margin: 5px 0; width: 50%;}
header .headerWrap .mIcon span:nth-child(3){width: 70%;}

header h1{font-weight: 600; font-size: 22px; padding: 10px 0;}

/* Container Style */
.container{width: 100%; height: auto; padding: 20px 0; display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(5, minmax(100px, auto)); gap: 15px;} 
.container .item{background: #fff;}
.container .item:nth-child(1){grid-row-start: 1; grid-row-end: 5; display: flex; align-items: center; justify-content: center; padding: 30px 0;}
.container .item:nth-child(6){grid-column-start: 1; grid-column-end: 3;}

/* circle graph style */
.graph-circle {position: relative; width: 100%; height: 100%; display: flex; flex-direction: column;}
.circle-graph-container {position: relative; display: flex; width: 100%; height: 100%;}
.circle-graph {margin: 0 15px; position: relative; width: 100%; line-height: 1.2 !important; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;display: flex; flex-direction: column; justify-content: center; align-items: center; font-weight: 300;}
canvas {position: absolute;}

.circle-graph p{font-size: 45px; font-weight: 800; color: #12595b;}
.totalTit{width: 100%; height: auto; text-align: center; font-size: 22px; color: #12595b; font-weight: 600;}

/* sub portfolio progress section style */
.subPfBar{padding: 10px; display: flex; align-items: center;}
.subPfBar .pfImg{width: 15%; font-size: 25px; display: flex; align-items: center; justify-content: center; margin-right: 5px;}
.subPfBar .pfImg i{color: #12595b;}
.subPfBar .pfContents{width: 85%;}
.subPfBar .pfContents h3{font-size: 18px; color: #12595b;}
.subPfBar .pfContents p{color: #529faa; margin: 0 0 5px; font-size: 12px;}
.subPfBar .pfContents .rateNum{font-weight: 600; font-size: 14px; width: 30px; text-align: right; border: 0; color: #12595b;}
.subPfBar .pfContents .rateNum:focus{border: 1px solid #529faa;}
.subPfBar .pfBarBox{padding: 3px 0; border: 1px solid #529faa; border-radius: 10px; background: #edf7f0;}
.subPfBar .pfBarBox .pfBar{display: block; width: 0; height: 15px; background: #12595b; border-radius: 0 10px 10px 0; border: 1px solid #12595b; border-radius: 15px; margin: 3px 0;}

/* button box style */
.btns{display: flex; align-items: center; justify-content: flex-end; padding: 10px;}
.btns button{border: 1px solid #12595b; background: #12595b; color: #fff; font-family: 'Noto Sans KR'; padding: 10px 30px;} 
.btns button:nth-child(2){margin: 0 5px;}